In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

633

In [5]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [6]:
# Basic URL for the OpenWeatherMap with the weather_api_key added to the URL
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=70e666f8f3611ccc9e97f8ff5c91b096

In [7]:
# Import the datetime module from the datetime library.
from datetime import datetime

In [8]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")
# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [9]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):
    try:
        # Group cities in sets of 50 for logging purposes.
        if (i % 50 == 0 and i >= 50):
            set_count += 1
            record_count = 1
        # Create endpoint URL with each city.
        city_url = url + "&q=" + city.replace(" ","+")
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})
    # If an error is experienced, skip the city.
    except:
        #print("City not found. Skipping...")
        pass
    
    
    
    # Log the URL, record, and set numbers and the city.
    #print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
    
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

-----------------------------
Data Retrieval Complete
-----------------------------

In [11]:
len(city_data)

585

In [12]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Lodeynoye Pole,60.7260,33.5531,35.08,85,100,7.49,RU,2021-09-21 04:22:15
1,Arraial Do Cabo,-22.9661,-42.0278,70.77,90,92,26.82,BR,2021-09-21 04:13:23
2,Vangaindrano,-23.3500,47.6000,67.05,89,99,4.99,MG,2021-09-21 04:22:16
3,Punta Arenas,-53.1500,-70.9167,53.71,66,75,25.32,CL,2021-09-21 04:12:47
4,Solnechnyy,50.7214,136.6319,63.37,46,87,3.94,RU,2021-09-21 04:15:26
5,Albany,42.6001,-73.9662,62.55,90,99,6.11,US,2021-09-21 04:07:29
6,Santa Rosa De Aguan,15.9500,-85.7167,82.09,80,86,10.02,HN,2021-09-21 04:22:17
7,Kapaa,22.0752,-159.3190,82.38,78,90,13.80,US,2021-09-21 04:12:30
8,Hithadhoo,-0.6000,73.0833,83.39,74,100,12.35,MV,2021-09-21 04:12:17
9,San Gabriel,34.0961,-118.1058,82.67,73,1,0.00,US,2021-09-21 04:21:08

In [13]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]

In [15]:
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Lodeynoye Pole,RU,2021-09-21 04:22:15,60.7260,33.5531,35.08,85,100,7.49
1,Arraial Do Cabo,BR,2021-09-21 04:13:23,-22.9661,-42.0278,70.77,90,92,26.82
2,Vangaindrano,MG,2021-09-21 04:22:16,-23.3500,47.6000,67.05,89,99,4.99
3,Punta Arenas,CL,2021-09-21 04:12:47,-53.1500,-70.9167,53.71,66,75,25.32
4,Solnechnyy,RU,2021-09-21 04:15:26,50.7214,136.6319,63.37,46,87,3.94
5,Albany,US,2021-09-21 04:07:29,42.6001,-73.9662,62.55,90,99,6.11
6,Santa Rosa De Aguan,HN,2021-09-21 04:22:17,15.9500,-85.7167,82.09,80,86,10.02
7,Kapaa,US,2021-09-21 04:12:30,22.0752,-159.3190,82.38,78,90,13.80
8,Hithadhoo,MV,2021-09-21 04:12:17,-0.6000,73.0833,83.39,74,100,12.35
9,San Gabriel,US,2021-09-21 04:21:08,34.0961,-118.1058,82.67,73,1,0.00

In [16]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")